VITE_PUBLIC_networkPassphrase="Test SDF Future Network ; October 2022"
VITE_PUBLIC_chickenVsEggContractId="CADVRBYFMG6RIRFP6VOAATDCZERWPCNGFKQ7KYPD3D4FAI7VZ7WFNDSB"
VITE_PUBLIC_factoryContractId="CCZWIOWKT4WGJQHWZFF7ARCQJFVWRXPOKG4WGY6DOZ72OHZEMKXAEGRO"
VITE_PUBLIC_accountSecp256r1ContractWasm="23d8e1fbdb0bb903815feb7d07b675db98b5376feedab056aab61910d41e80c1"
VITE_PUBLIC_rpcUrl="https://rpc-futurenet.stellar.org/"
VITE_PUBLIC_horizonUrl="https://horizon-futurenet.stellar.org/"
VITE_PUBLIC_INFURA_ID="3bf6a06c7cbf433ea3d394dde34be40e"
VITE_PUBLIC_INFURA_SECRET="87e3d18c222f4ae2b8ea2207fc2cc9bc"
VITE_PUBLIC_IPFS_GATEWAY=""